<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSBankPaymentServiceSoap" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="WSBankPaymentServiceSoap1" />
        <binding name="WSBankPaymentServiceSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="WSBankPaymentServiceSoap3" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WSBankPaymentServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="WSBankPaymentServiceSoap121">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://portal.buluttahsilat.com/WebService/WSBankPaymentService.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSBankPaymentServiceSoap"
        contract="IntegrationService.WSBankPaymentServiceSoap" name="WSBankPaymentServiceSoap" />
      <endpoint address="https://portal.buluttahsilat.com/WebService/WSBankPaymentService.asmx"
        binding="customBinding" bindingConfiguration="WSBankPaymentServiceSoap12"
        contract="IntegrationService.WSBankPaymentServiceSoap" name="WSBankPaymentServiceSoap12" />
      <endpoint address="https://portal.buluttahsilat.com/WebService/WSBankPaymentService.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSBankPaymentServiceSoap2"
        contract="IntegrationService.WSBankPaymentServiceSoap" name="WSBankPaymentServiceSoap1" />
      <endpoint address="https://portal.buluttahsilat.com/WebService/WSBankPaymentService.asmx"
        binding="customBinding" bindingConfiguration="WSBankPaymentServiceSoap121"
        contract="IntegrationService.WSBankPaymentServiceSoap" name="WSBankPaymentServiceSoap121" />
    </client>
  </system.serviceModel>
</configuration>
